name: Build Keychron K4 Pro Firmware (Docker)

on:
  push:
    paths: 
      - 'keyboards/keychron/k4_pro/**'
      - '.github/workflows/build_docker.yml'
  workflow_dispatch:

jobs:
  create_tag:
    runs-on: ubuntu-latest
    outputs:
      tag: ${{ steps.create_tag.outputs.tag }}
    steps:
      - uses: actions/checkout@v4
      - name: Create tag with current date and time
        id: create_tag
        run: |
          TAG=$(date +'%Y.%m.%d.%H%M')
          echo "tag=$TAG" >> $GITHUB_OUTPUT
          git tag $TAG
          git push origin $TAG

  build:
    runs-on: ubuntu-latest
    needs: create_tag
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          show-progress: true
      - name: Cache qmk_firmware repository
        uses: actions/cache@v4
        id: cache
        with:
          path: qmk_firmware
          key: ${{ runner.os }}-qmk_firmware
      - name: Checkout Keychron/qmk_firmware
        if: steps.cache.outputs.cache-hit != 'true'
        run: git clone --recurse-submodules --branch wireless_playground https://github.com/Keychron/qmk_firmware.git
      - name: Clean old qmk firmware build
        if: steps.cache.outputs.cache-hit == 'true'
        run: |
          rm -rf qmk_firmware/.build/*
          rm -rf qmk_firmware/*.bin
      - name: Copy keyboard files
        run: cp -rv keyboards/keychron/k4_pro/* qmk_firmware/keyboards/keychron/k4_pro/
      - name: Build firmware with Docker
        run: |
          docker run --rm --user $(id -u):$(id -g) -v "./qmk_firmware/:/qmk_firmware:z" ghcr.io/qmk/qmk_cli:latest qmk compile -kb keychron/k4_pro/iso/rgb -km mine
          sleep 1
      - name: Upload firmware (pipeline artifact)
        uses: actions/upload-artifact@v4
        with:
          name: Keychron K4 Pro Firmware
          path: qmk_firmware/*.bin
      - name: Upload firmware (tagged release)
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ needs.create_tag.outputs.tag }}
          files: qmk_firmware/.build/*
      - name: Upload firmware (build folder)
        run: |
          mkdir -p build
          cp -rv qmk_firmware/.build/*.bin build/firmware_${{ needs.create_tag.outputs.tag }}.bin
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add build/firmware_${{ needs.create_tag.outputs.tag }}.bin
          git commit -m "Add firmware_${{ needs.create_tag.outputs.tag }}.bin"
          git push origin HEAD:main