name: Build Keychron K4 Pro Firmware (Docker)

on:
  push:
    paths: 
      - 'keyboards/keychron/k4_pro/**'
      - '.github/workflows/build_docker.yml'
  workflow_dispatch:

jobs:
  create_tag:
    runs-on: ubuntu-latest
    outputs:
      tag: ${{ steps.create_tag.outputs.tag }}
    steps:
      - uses: actions/checkout@v4
      - name: Create tag with current date and time
        id: create_tag
        run: |
          TAG=$(date +'%Y.%m.%d.%H%M')
          echo "tag=$TAG" >> $GITHUB_OUTPUT
          git tag $TAG
          git push origin $TAG

  build:
    runs-on: ubuntu-latest
    needs: create_tag
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          show-progress: true
      - name: Checkout Keychron/qmk_firmware
        run: git clone --recurse-submodules --branch wireless_playground https://github.com/Keychron/qmk_firmware.git
      - name: Copy keyboard files
        run: cp -rv keyboards/keychron/k4_pro/* qmk_firmware/keyboards/keychron/k4_pro/
      - name: Build firmware with Docker
        run: docker run --rm --user $(id -u):$(id -g) -v "./qmk_firmware/:/qmk_firmware:z" ghcr.io/qmk/qmk_cli:latest qmk compile -kb keychron/k4_pro/iso/rgb -km mine
      - name: Upload firmware (pipeline artifact)
        uses: actions/upload-artifact@v4
        with:
          name: Keychron K4 Pro Firmware
          path: qmk_firmware/.build/*
      - name: Upload firmware (tagged release)
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          tag_name: ${{ needs.create_tag.outputs.tag }}
          files: qmk_firmware/.build/*